<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>{{ block "title" . }}KOmpanion{{ end }}</title>
    <link rel="stylesheet" href="/static/monospace.css">
    <link rel="stylesheet" href="/static/static.css">
</head>

<body>

    <!-- 主站头部 -->
    <header class="header">
        <table>
            <tr>
                <td style="flex-grow: 1;">KOmpanion</td>
                {{ if .isAuthenticated }}
                <td><a href="/books/">> 书籍</a></td>
                <td><a href="/stats/">> 统计</a></td>
                <td><a href="/notes/">> 笔记</a></td>
                <td><a href="/devices/">> 设备</a></td>
                <td><a href="/auth/logout/">退出登录</a></td>
                {{ else }}
                <td>登录页面</td>
                {{ end}}
            </tr>
        </table>
    </header>

    <main>
        {{ block "content" . }}默认内容{{ end }}
    </main>

    <footer>
        <!-- 简单页脚 -->
        <hr>
        <p style="text-align: center; color: var(--text-color-alt);">
            由 <a href="https://github.com/vanadium23/kompanion/">KOmpanion</a> 驱动，
            版本：<strong>{{ Version }}</strong>，
            页面耗时：<strong>{{ LoadTimes .startTime }}</strong>
        </p>
    </footer>

</body>

</html>
