{{ define "title" }}{{ .book.Author }} - {{ .book.Title }} - 书籍 - KOmpanion{{ end }}

{{ define "content" }}
{{ with .book }}
<article class="edit-book-article">

    <!-- 书籍封面 -->
    <div class="cover">
        <img src="/books/{{.ID}}/cover" alt="{{.Title}} - {{.Author}}">
    </div>

    <!-- 编辑书籍信息 -->
    <div>
        <form aria-labelledby="编辑书籍" method="post">
            <div class="grid">
                <label>
                    书名
                    <input type="text" name="title" placeholder="请输入书名" required value="{{ .Title }}">
                </label>
                <label>
                    作者
                    <input type="text" name="author" placeholder="请输入作者" required value="{{ .Author }}">
                </label>
            </div>

            <div class="grid">
                <label>
                    ISBN
                    <input type="text" name="isbn" placeholder="请输入 ISBN" value="{{ .ISBN }}">
                </label>
            </div>

            <div class="grid">
                <label>
                    系列
                    <input type="text" name="series" placeholder="请输入系列名称" value="{{ if .Series }}{{ .Series }}{{ else }}文学{{ end }}">
                </label>
                <label>
                    系列序号
                    <input type="number" name="series_index" placeholder="如：1 或 1.5" step="0.1" min="0"
                        value="{{ with .SeriesIndex }}{{ .Decimal }}{{ else }}0.1{{ end }}">
                </label>
            </div>

            <div>
                <label for="description">简介</label>
                <textarea name="description" id="description" rows="4"
                    placeholder="请输入书籍简介">{{ .Description }}</textarea>
            </div>

            <div class="grid">
                <label>
                    出版年份
                    <input type="number" name="year" placeholder="YYYY" min="1000" max="9999" value="{{ if .Year }}{{ .Year }}{{ else }}2000{{ end }}">
                </label>
                <label>
                    出版社
                    <input type="text" name="publisher" placeholder="请输入出版社" value="{{ if .Publisher }}{{ .Publisher }}{{ else }}未知{{ end }}">
                </label>
            </div>

            <div class="book-actions">
                <button type="submit" class="button success book-action-button">保存</button>

                <a href="/books/{{.ID}}/download" target="_blank" class="button book-action-button">下载</a>

            </div>
        </form>
    </div>

</article>
{{ end }}

<!-- 阅读统计 -->
{{ with $.stats }}
<section class="reading-stats">
    <hgroup>
        <h3>阅读统计</h3>
    </hgroup>

    <table>
        <tr>
            <td style="width: 50%;">
                <strong>阅读页数</strong>
                <p>{{ .TotalReadPages }}</p>
            </td>
            <td>
                <strong>总用时</strong>
                <p>{{ formatDuration .TotalReadTime }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <strong>平均每页用时</strong>
                <p>{{ formatDuration .AverageTimePerPage }}</p>
            </td>
            <td>
                <strong>阅读天数</strong>
                <p>{{ .TotalReadDays }}</p>
            </td>
        </tr>
    </table>
</section>
{{ end }}

{{ end }}
